/* You can add global styles to this file, and also import other style files */
label {
  display:block;
}
label.sc, pre.sc {
  background-color: lightgray;
}
hf-text-field, hf-text-field2 label {
  background-color: lightblue;
}
label.nf {
  background-color: lightcoral;
}
